.form {
  height: 100vh;
  background: url(../images/screen3.png) no-repeat center center;
  background-size: cover;

  h2 {
    color: $white;
    font-size: 56px;
    font-family: 'Risque';
    font-weight: 400;

    @media (max-width: 1024px) {
      font-size: 52px;
      line-height: 52px;
      margin-top: 0;
    }
  }

  &__wrapper {
    margin-left: 25px;
    @media (max-width: 1024px) {
      margin-left: 0;
    }
  }

  form {
    max-width: 467px;

    input,
    textarea {
      border-radius: 15px;
      border: 3px solid $white;
      background: rgba(196, 196, 196, 0.00);
      padding: 14px 20px;
      color: $white;
      outline: unset;
      width: 220px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: 'Roboto';

      @media (max-width: 510px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }

      &:nth-child(1) {
        margin-right: 23px;
        @media (max-width: 510px) {
          margin-right: 0;
        }
      }

     
    }
    input[type='email'] {
      margin-left: 23px;
      @media (max-width: 510px) {
        margin-left: 0;
      }
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: #ffffff94;
      font-size: 16px;
      font-family: 'Roboto';
    }

    textarea {
      max-height: 76px;
      min-height: 76px;
      width: 100%;
    }

    label {
      color: $red;
      font-size: 16px;
      font-family: 'Roboto';
    }

    input.checkbox {
      width: fit-content;
    }

    .select2 {
      width: 220px !important;
      @media (max-width: 510px) {
        width: 100% !important;
        margin-bottom: 20px;
      }
    }
    .select2-container--default .select2-selection--single {
      border-radius: 15px;
      border: 3px solid $white;
      background: rgba(196, 196, 196, 0.00);
      padding: 8px 12px !important;
      color: $white;
      outline: unset;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: $white;
      font-size: 16px;
      font-family: 'Roboto';
    }
    .select2-container .select2-selection--single {
      height: 49px;
    }
    input::-webkit-input-placeholder { 
      color: $white;
      font-size: 16px;
      font-family: 'Roboto';
    }
    input:-moz-placeholder { 
      color: $white;
      opacity:  1;
      font-size: 16px;
      font-family: 'Roboto';
    }
    input::-moz-placeholder { 
      color: $white;
      opacity:  1;
      font-size: 16px;
      font-family: 'Roboto';
    }
    input:-ms-input-placeholder { 
      color: $white;
      font-size: 16px;
      font-family: 'Roboto';
    }
    input::-ms-input-placeholder { 
      color: $white;
      font-size: 16px;
      font-family: 'Roboto';
    }
    
    input::placeholder {
      color: $white;
      font-size: 16px;
      font-family: 'Roboto';
    }

    .select2-selection__arrow {
      b {
        height: 20px !important;
        width: 20px !important;
        border-width: 0 !important;
        margin-left: -23px !important;
        margin-top: 0px !important;
        position: relative;
        transition: .3s;
        &::after {
          content: url(../images/Arrow-select.svg);
          transition: .3s;
        }
      }
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
      transform: rotate(180deg);
      transition: .3s;
    }
  }
}

.select2-results__option {
  color: #CECECE;
  font-size: 16px;
  font-family: 'Roboto';
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: $red !important;
  background-color: unset !important;
}

.select2-results__option {
  padding: 6px 20px !important;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 0 0 15px 15px !important;
}

form input[type="checkbox"]:disabled + label:before {
  border-color: rgba(143, 143, 143, 0.26);
}

form input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(255, 0, 0, 0.26);
}

input[type="checkbox"]:checked + label:after {
  transform: translate(0.2em,0.26538em) rotate(-45deg);
  width: 0.6em;
  height: 0.35em;
  border: 0.18em solid red;
  border-top-style: none;
  border-right-style: none;
}

form label:after {
  transform: translate(0.2em, 0.26538em) rotate(-45deg);
  width: 0.5em;
  height: 0.25em;
  border: 0.16em solid transparent;
  border-top-style: none;
  border-right-style: none;
}

form input[type="checkbox"]:checked + label:before {
  background: rgb(255, 255, 255);
}

form input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

form label:before {
  width: 1.1em;
  height: 1.1em;
  background: transparent;
  border: 2px solid rgba(243, 0, 0, 0.72);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}

form label:before, 
form label:after {
  content: "";
  position: absolute;
  left: -23px;
  top: -1px;
}

form label {
  cursor: pointer;
  display: inline;
  line-height: 16px;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
  position: relative;
  left: 11px;
  top: -5px;
}